<div>
<h1 style="font-size:40px"> Daily Plus</h1>
<%= link_to(image_tag("sharequote.png"), new_quote_path) %>
</div>
<br>
<br>

<% @quotess.each do |q| %>
	<div id="quote_show">
		<div id="timee"> 
			<%= (q.created_at - (4*60*60)).month %> / <%= (q.created_at - (4*60*60)).day %> <br>
			<%= (q.created_at - (4*60*60)).hour  %>:<%= (q.created_at - (4*60*60)).min %>
		</div>
    	 "<%= q.words %>" <br>
   		  - <%= q.author %> <br>
    </div>
  <% end %>
